/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
* {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}


/*CONTENT*/
header {
    text-align: center;
    font-size: 1.2em;
    color: #E53170;
    margin: 25px 0 40px 0;
}

.intro {
    text-align: center;
    color: rgb(54, 51, 51);
    font-size: 1.2em;
}

.main-row {
    width: 100%;
}

.cards {
    width: calc(100% / 3);
    height: 100px;
}

.photos, .data, img, .cards {
    float: left;
    background-color: black;
    color: white;
    height: 100px;
}

.data {
    padding: 15px;
}
/*DEBUG*/
.debug